.search-bar svg {
    top: 35%;
}

.card {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.audit {
    background: #D5E8FF
}

.pending {
    background: #FEF3C7;
}

.completed {
    background: #DCFCE7CE;
}
.btn-action {
    justify-content: flex-end;
}
.btn-action button {
    width: 150px;
    /* border-radius: 10px; */
}
/* .action-btns button {
    width: 150px;
    /* border-radius: 10px;
} */

thead {
    background-color: var(--gray-100);
}

th {
    white-space: nowrap;
}

tr {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

/* tr:hover {
    background-color: var(--gray-100);
} */

td {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: var(--blue-500);
}

li {
    list-style: none;
}

ul {
    padding-left: 0 !important;
}